@model IEnumerable<dotnet_mvc_ecommerce.Models.ShoppingBasket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
<<<<<<< HEAD
            <th>
                Product
            </th>
            <th>Action</th>
=======
            <th></th>
            <th></th>
            <th></th>
            <th></th>
>>>>>>> kw
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <ul>
                    @foreach (var childItem in item.ShoppingBasket_Products) {
                    <li>@Html.DisplayFor(modelItem => childItem.Product.ProductName) * @Html.DisplayFor(modelItem => childItem.Quantity) </li>
                    }
                </ul>
            </td>
            <th>
                    @Html.DisplayFor(modelItem => item.ShoppingBasket_Products)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
