@model IEnumerable<dotnet_mvc_ecommerce.Models.ShoppingBasket_Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Shop Assistance"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingBasket)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Shop Assistance"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ShoppingBasket.Id)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <div class="row">
                    <div class="col">
                            <form asp-action="remove" asp-route-id="@item.ProductId">
                                <input type="hidden" asp-for="@item.ProductId" />
                                <input type="submit" value="-" class="btn btn-primary" />
                            </form>
                    </div>
                    <div class="col">
                            @Html.DisplayFor(modelItem => item.Quantity)
                    </div>
                    <div class="col">
                            <form asp-action="add" asp-route-id="@item.ProductId">
                                <input type="hidden" asp-for="@item.ProductId" />
                                <input type="submit" value="+" class="btn btn-primary" />
                            </form>
                    </div>
                </div>
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
