@model IEnumerable<dotnet_mvc_ecommerce.Models.ShoppingBasket_Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingBasket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingBasket.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                    <form asp-action="remove" asp-route-id="@item.ProductId">
                        <input type="hidden" asp-for="@item.ProductId" />
                        <input type="submit" value="-" class="btn btn-primary" />
                    </form>
                @Html.DisplayFor(modelItem => item.Quantity)
                    <form asp-action="add" asp-route-id="@item.ProductId">
                        <input type="hidden" asp-for="@item.ProductId" />
                        <input type="submit" value="+" class="btn btn-primary" />
                    </form>
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
