@model IEnumerable<dotnet_mvc_ecommerce.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@if( TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}


<h1>Index</h1>

@if (User.IsInRole("Shop Assistance"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <form asp-action="AddToBasket" asp-route-id="@item.Id">
                    <input type="hidden" asp-for="@item.Id" />
                    <input type="submit" value="Add Basket" class="btn btn-primary" />
                </form>
                    @if (User.IsInRole("Shop Assistance"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit </a>  
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
